.dragNDropArea {
    cursor: pointer;
    background-image: repeating-linear-gradient(27deg, #707070, #707070 14px, transparent 14px, transparent 40px, #707070 40px),
    repeating-linear-gradient(117deg, #707070, #707070 14px, transparent 14px, transparent 40px, #707070 40px),
    repeating-linear-gradient(207deg, #707070, #707070 14px, transparent 14px, transparent 40px, #707070 40px),
    repeating-linear-gradient(297deg, #707070, #707070 14px, transparent 14px, transparent 40px, #707070 40px);
    background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    padding: 110px 24px 32px 24px;
    transition: all .4s ease;

    &:hover {
        background-image: repeating-linear-gradient(27deg, $primary, $primary 14px, transparent 14px, transparent 40px, $primary 40px),
        repeating-linear-gradient(117deg, $primary, $primary 14px, transparent 14px, transparent 40px, $primary 40px),
        repeating-linear-gradient(207deg, $primary, $primary 14px, transparent 14px, transparent 40px, $primary 40px),
        repeating-linear-gradient(297deg, $primary, $primary 14px, transparent 14px, transparent 40px, $primary 40px);
    }

    @include media-breakpoint-up(lg) {
        padding: 180px 64px 64px;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: $primary;
        text-align: center;

        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }
    }

    &:before {
        position: absolute;
        content: '';
        top: 76px;
        left: 50%;
        transform: translateX(-50%);
        width: 45px;
        height: 45px;
        background: url('../images/move.svg') no-repeat center / contain;

        @include media-breakpoint-up(lg) {
            top: 132px;
        }
    }

    .dropbox {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: max-content;
        padding-top: 35px;
        margin: 32px auto 0 auto;

        @include media-breakpoint-up(lg) {
            margin: 82px auto 0 auto;
        }

        p {
            position: absolute;
            width: max-content;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            font-size: 12px;
            text-transform: none;
        }

        .dropbox-button {
            width: 40px;
            height: 40px;
            background: transparent url("../images/dropbox.svg") no-repeat center / contain;
            border: none;
            font-size: 0;
            transition: all .4s ease;
            transform: scale(1);

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
