.dragNDropArea {
    background-image: repeating-linear-gradient(27deg, #707070, #707070 14px, transparent 14px, transparent 40px, #707070 40px),
    repeating-linear-gradient(117deg, #707070, #707070 14px, transparent 14px, transparent 40px, #707070 40px),
    repeating-linear-gradient(207deg, #707070, #707070 14px, transparent 14px, transparent 40px, #707070 40px),
    repeating-linear-gradient(297deg, #707070, #707070 14px, transparent 14px, transparent 40px, #707070 40px);
    background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    padding: 48px 24px;

    @include media-breakpoint-up(lg) {
        padding: 80px 64px;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: $primary;
    }
}
